.Intro {
  padding: 1rem;
  --font-size: 1rem;
  font-size: var(--font-size);
  line-height: 1.4;
}

.Intro p,
.Intro h1 {
  text-align: center;
  outline: none;
}

.Intro h1 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 760px) {
  .Intro {
    --font-size: 1.25rem;
  }
}
