.Footer {
  --icon-size: 1.2rem;
  --font-size: .8rem;
  --gap: .8rem;
  background: #353535;
  bottom: 0;
  color: #FFFFFF;
  display: flex;
  column-gap: var(--gap);
  row-gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  font-size: var(--font-size);
  position: sticky;
}

.Footer a {
  display: flex;
  align-items: center;
}

.Footer :is(a, a:visited) {
  color: #F8F8F8;
  text-decoration: none;
}

.Footer a:is(:focus, :hover) {
  text-decoration: underline;
}

.Footer img {
  width: var(--icon-size);
  aspect-ratio: 1;
  margin-right: .5rem;
}

@media screen and (min-width: 760px) {
  .Footer {
    --font-size: 1rem;
    --icon-size: 2rem;
    --gap: 2rem;
  }
}

.Footer__openingHours {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
