.H1 {
  font-size: 1.75rem;
}

.H2 {
  font-size: 1.25rem;
}

.H3 {
  font-size: 1rem;
}

@media screen and (min-width: 760px) {
  .H1 {
    font-size: 2rem;
  }

  .H2 {
    font-size: 1.75rem;
  }

  .H3 {
    font-size: 1.25rem;
  }
}
